* {
  font-family: 'Roboto', sans-serif;
}

:focus-visible 
   {
    outline: 1px solid $color-disabled;
  }

.visibility-none {
  display: none;
}

a {
  text-decoration-line: none !important;
  display: block;
  line-height: 0px;
}

body {
  margin: 0;
  background-color: $background;
}

